@charset "ISO-8859-1";

*{
	margin:opx;
	padding: opx;
	
}

.contenido_font{
	font-family: 'Crete Round', serif;
    font-family: 'Paytone One', sans-serif;
	display: flex;
	width: 300px;
	height:40px;
	color: #fff;
	font-size: 40px;
	line-height: 40px;
	
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left: 5%;
    margin: auto;	
	overflow: hidden;
}

ul {
	font-family: 'Crete Round', serif;
    font-family: 'Paytone One', sans-serif;
	text-align: center;
	list-style: none;
	padding-left: 10px;
	animation: cambiar 7s infinite;
}

ul,p {
	font-family: 'Crete Round', serif;
	margin:0;
	
}

@keyframes cambiar {
	
	0%{margin-top: 0;}
	20%{margin-top: 0;}
	
	25% {margin-top: -40px;}
	50% {margin-top: -40px;}
	
	55% {margin-top: -80px;}
	80% {margin-top: -80px;}

    85% {margin-top: -40px;}
	95% {margin-top: -40px;}
	
	100% {margin-top: 0;}
}



.titulo_banner{
	
	color: azure;
	text-align: center;
	padding-top:2em;
    font-family: 'Crete Round', serif;

}

.texto_banner{
	color: azure;
	text-align: center;
	padding-top:2em;
	font-size: 180%;
	font-family: 'Crete Round', serif;
}




/*Menu desplegable*/


	.hamburguer {
	position: fixed;
	
	top: 30px;
	right: 30px;
	background: #fff;
	width: 40px;
	height: 40px;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 0 6px rgba(0, 0, 0, .5);
	}
	
	
	.menu-navegacion {
	position: fixed;
	top: 0;
	right: 0;
	width: 20vw;
	height: 100%;
	background: rgb(205,5,5);
background: #05CAE5;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	transition: transform .3s ease-in-out;
	transform: translate(110%);
	box-shadow: 0 0 6px rgba(0, 0, 0, .5);
	
}

.spread {
	transform: translate(0);
}



.menu {
	list-style: none;
}

.submenu {
	position: absolute;
	list-style: none;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

	

.menu > li > a {
	display: block;
	padding: 10px;
	color: #ffffff;
	font-family: "rockwell";
	text-decoration: none;
	font-size: 17px;
	margin: auto;
	padding: 25px 25px;
	
}

.menu > li > a:hover {
	background: #fff;
	color: #01A9DB;
	transition: all .3s;
}

.submenu li a {
	display: block;
	padding: 15px;
	color: #ffffff;
	font: 17px "rockwell";
	text-decoration: none;
	text-align: left;
}
/*Fin del menu*/


/*WAVE(OLA) INICIO*/

.bg_color{
	width: 100%;
	height:70%;
	*background: blue;
	position: absolute;
	top: 0;
	
}
.wave{
	background-image: url(../imagenes/wd1.svg);
	position:absolute;
	top: 150px;
	left: 0;
	background-position: bottom;
	
}

