@charset "ISO-8859-1";

*{
	margin:opx;
	padding: opx;
	
}



ul {
	font-family: 'Archivo Black', sans-serif;
	text-align: center;
	list-style: none;
	padding-left: 15px;
	animation: cambiar 7s infinite;

}

p {
	font-family:'Archivo Black', sans-serif;
	margin:0;
}

@keyframes cambiar {
	
	0%{margin-top: 0;}
	20%{margin-top: 0;}
	
	25% {margin-top: -40px;}
	50% {margin-top: -40px;}
	
	55% {margin-top: -80px;}
	80% {margin-top: -80px;}

    85% {margin-top: -40px;}
	95% {margin-top: -40px;}
	
	100% {margin-top: 0;}
}


.texto_banner{
	color: azure;
	text-align: center;
	padding-top:5em;
	font-size: 400%;
	font-family: 'Archivo Black', sans-serif;
	left: 14.5%;
}




/*Menu desplegable*/


	.hamburguer {
	position: fixed;
	
	top: 30px;
	right: 30px;
	background: #fff;
	width: 40px;
	height: 40px;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 0 6px rgba(0, 0, 0, .5);
	}
	
	
	.menu-navegacion {
	position: fixed;
	top: 0;
	right: 0;
	width: 20vw;
	height: 100%;
	background: rgb(205,5,5);
    background: #05CAE5;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	transition: transform .3s ease-in-out;
	transform: translate(110%);
	box-shadow: 0 0 6px rgba(0, 0, 0, .5);
	
}

.spread {
	transform: translate(0);
}



.menu {
	list-style: none;
}

.submenu {
	position: absolute;
	list-style: none;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

	

.menu > li > a {
	display: block;
	padding: 10px;
	color: #ffffff;
	font-family: "rockwell";
	text-decoration: none;
	font-size: 17px;
	margin: auto;
	padding: 25px 25px;
	
}

.menu > li > a:hover {
	background: #fff;
	color: #01A9DB;
	transition: all .3s;
}

.submenu li a {
	display: block;
	padding: 15px;
	color: #ffffff;
	font: 17px "rockwell";
	text-decoration: none;
	text-align: left;
}
/*Fin del menu*/


/*WAVE(OLA) INICIO*/

/*.contain_wave{
	position: relative;
	width: 100%;
	height:100vh ;
	background-color: #2196f3;
	overflow: hidden;
	
}*/
body-card{
   overflow-x: hidden;
   
    width: 100vw;
	height:100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
   
}

/*
.wave{
	position:absolute;
	bottom:0;
	left: 0;
	width:100%;
	height:100px; 
	background-image: url(../imagenes/waveog.png);
	background-size:1000px 100px;
	animation: wave 8s linear infinite;

}

/**.w1{
	animation: w1 7s linear infinite;
	
}
.w2{
	animation: w2 7s linear -.125s infinite, desplazamiento 7s ease -.125s infinite;
	opacity:0.5;	
	
}*/

/*@keyframes wave {
	0%{
	    background-position-x: 0;
	}
	100%{
	     background-position-x: 1000px;
	}
}
/*

/*WAVE(OLA) FIN*/


/*video wave*/

.header-video {
	
	top: 0;
	left: 0;
	width: 100%;
	height: 100;
	overflow: hidden;
	
}


/*cards*/

.post:hover {
	transform: translateY(-4px);
	box-shadow: 0 1px 14px 2px rgba(0, 0, 0, .15);
}

.content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	max-width: 1000px;
	margin: auto;
	padding: 40px 0 40px 0;
}

.boton {
	text-decoration: none;
	text-align: center;
	background-color: #05F723;
	display: block;
	padding: 10px;
	color: #fff;
	width: 50%;
	margin: auto;
	margin-top: 30px;
	border-radius: 20px;
	box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .1);
	transition: .2s;
}

.boton:hover {
	color: #fff;
	transform: translateY(-7px);
	box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .2);
}

.boton1 {
	text-decoration: none;
	text-align: center;
	background-color: #0016F1;
	display: block;
	padding: 10px;
	color: #fff;
	width: 50%;
	margin: auto;
	margin-top: 30px;
	border-radius: 20px;
	box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .1);
	transition: .2s;
}

.boton1:hover {
	color: #fff;
	transform: translateY(-7px);
	box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .2);
}

.boton2 {
	text-decoration: none;
	text-align: center;
	background-color: #FF118F;
	display: block;
	padding: 10px;
	color: #fff;
	width: 50%;
	margin: auto;
	margin-top: 30px;
	border-radius: 20px;
	box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .1);
	transition: .2s;
}

.boton2:hover {
	color: #fff;
	transform: translateY(-7px);
	box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .2);
}

.seccion {
	padding: 0px 60px 0px 60px;
}

.logo-wsp {
	background: url("../imagenes/wsp.png");
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center;
}

.logo-discord {
	background: url("../imagenes/discord.png");
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center;
}

.logo-instagram {
	background: url("../imagenes/instagram.png");
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center;
}

.post-link:hover {
	background: #3378c7;
	box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .2);
	transform: translateY(-2px);
}




