@charset "ISO-8859-1";

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


.contenedor {
	padding: 60px 0;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
	font-family: 'Noto Sans', sans-serif;
}

header {
	width: 100%;
	height: 650px;
	background: #bc4e9c;  
background: -webkit-linear-gradient(to right, hsl(194, 68%, 64%, 0.671), hsl(194, 94%, 36%, 0.616)), url(https://www.hola.com/imagenes/estar-bien/20180810128075/contaminacion-oceanos-video-viral-gt/0-590-144/portada_contaminacion-t.jpg?filter=w600);
background: linear-gradient(to right, hsl(195, 36%, 79%, 0.671), hsl(194, 98%, 27%, 0.616)), url(https://www.hola.com/imagenes/estar-bien/20180810128075/contaminacion-oceanos-video-viral-gt/0-590-144/portada_contaminacion-t.jpg?filter=w600); 

/* background: #b3ffab; 
  background: -webkit-linear-gradient(to right, #b3ffab, #12fff7); 
  background: linear-gradient(to right, hsl(155, 81%, 58%, 0.7), hsl(175, 63%, 67%, 0.64)), url(https://www.iphe.gob.pa/content/post/principal/pri_e9d42098862d930b3f06786e6c22ea50-2020-07-30-13-39-48.jpg); 
 */
background-size: cover;
background-attachment: fixed;
position: relative;

	
	}
	
	header .textos-header {
	display: flex;
	height: 430px;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;	
}
	
	.textos-header h1 {
	font-size: 55px;
	color: #fff;
	/* font-family: 'Source Sans Pro', sans-serif; */
	font-family: monospace;
}

.textos-header h2 {
	font-size: 30px;
	font-weight: 300;
	color: #fff;
	/* font-family: 'Source Sans Pro', sans-serif; */
	font-family: monospace;
}

.logo {
	width: 60px;
	height: 60px;
	cursor: pointer;
	position: absolute;
	top: 30px;
	left: 30px;
	
	
}
	
	
	.hamburguer {
	position: fixed;
	
	top: 30px;
	right: 30px;
	background: #fff;
	width: 40px;
	height: 40px;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 0 6px rgba(0, 0, 0, .5);
	}
	
	
	.menu-navegacion {
	position: fixed;
	top: 0;
	right: 0;
	width: 20vw;
	height: 100%;
	background: rgb(205,5,5);
background: #05CAE5;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	transition: transform .3s ease-in-out;
	transform: translate(110%);
	box-shadow: 0 0 6px rgba(0, 0, 0, .5);
	
}

.spread {
	transform: translate(0);
}



.menu {
	list-style: none;
}

.submenu {
	position: absolute;
	list-style: none;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

	

.menu > li > a {
	display: block;
	padding: 10px;
	color: #ffffff;
	font-family: "rockwell";
	text-decoration: none;
	font-size: 17px;
	margin: auto;
	padding: 25px 25px;
	
}

.menu > li > a:hover {
	background: #fff;
	color: #01A9DB;
	transition: all .3s;
}

.submenu li a {
	display: block;
	padding: 15px;
	color: #ffffff;
	font: 17px "rockwell";
	text-decoration: none;
	text-align: left;
	
	
	
}

/* .menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
	
} */




/*estilos del cuerpo*/

.titulo {

	font-size: 35px;
	text-align: center;
	margin-bottom: 60px;
}

.subtitulo {
	font-size: 30px;
	text-align: left;
	padding-left: 30px;
	margin-bottom: 50px;
}

.contenedor-problema {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 20px;
}


.imagen-tortuga {
	
	width: 46%;
	max-height: 380px;
	cursor: pointer;
}

.imagen-mardeplastico {
	width: 46%;
	max-height: 380px;
	cursor: pointer;
}

.imagen-tortuga:hover {
	opacity: .8;
	box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .2);
	transform: translateY(-2px);
}

.texto-contenedor-problema {
	width: 46%;
	text-align: justify;
}





/* estilos del foooter */

.pie-pagina {
	width: 100%;
	background-color: #0a141d;

}

.pie-pagina .grupo-1 {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
	width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
	color: white;
	margin-bottom: 25px;
	font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
	color: #efefef;
	margin-bottom: 10px;
	
}

.pie-pagina .grupo-1 .box .red-social a {
	display: inline-block;
	text-decoration: none;
	width: 45px;
	height: 45px;
	line-height: 45px;
	color: #fff;
	margin-right: 10px;
	background-color: #0d2033;
	text-align: center;
	transition: all 300ms ease;
	
	
	
}

.pie-pagina .grupo-1 .box .red-social a:hover {
	color: aqua;
}



.pie-pagina .grupo-2 {
	background-color: #0a1a2a;
	padding: 15px 10px;
	text-align: center;
	color: #fff;
	
}

.pie-pagina .grupo-2 small {
	font-size: 15px;
}

@media screen and (max-width: 800px) {

	.pie-pagina .grupo-1 {
	width: 90%;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 30px;
	padding: 35px 0px;
}
	
}


